#text_container
{
	position:relative;
	text-align: center;
}
#mutation_result_container
{
	position:relative;
	top:5%;
	text-align: center;
}
.disable
{
	display: none;
}
.img
{ 
	width:480px;
	height:320px;
}