#button_container
{
	position:relative;
	/*width: 700px;*/
	/*left:40%;*/
	text-align: center;
}
#download_container
{
	position:relative;
	/*width:1325;*/
	top:5%;
	border-style:ridge;
	text-align: center;
}
.information td{
	text-align: left;
    vertical-align: top;
}

#btn_new_task
{
	width:180px;
	height: 30px;
	position:relative;
	left:0%;
}
#div_dirname
{
	position:relative;
	left:87%;	
}
#old_result
{
	width:180px;
	height: 30px;
}
#old_dirname
{
	width:180px;
	height: 30px;
}
.session_text
{
	width:300px;
	height:30px 
}

#marquee
{
    font-size: 40;
	position: relative;
	top:50%;
}
#marquee_string
{
	font-style: oblique;
}
.disable
{
	display: none;
}
.detail
{
	position: relative;
	text-align:center;
	background-color: #FFFFCC;	
}
.detail_disable
{
	visibility: hidden;
}
.detail_none
{
	display: none;
}
.img
{
	width:480px;
	height:320px;
}
.hide
{
	display:none;
}
.show_button{
	height: 40px;
	width: 300px;
  	font-size: 1em;
}


